@font-face{
    font-family: button-font;
    src: url(../files/fonts/AnonymousPro-Regular.ttf)
}

header{
    position: fixed;    
    z-index: 10;
    background: #DEF2F1;        
    width: 100%;    
    height: 20%;
    top: 0%;
    left: 0%;    
}
#logoSection{
    position: absolute;
    left: 0%;
    width: 10%;
    height: 80%;    
}
#logoSection img{
    position: absolute;
    top: 25%;
    left: 25%;
    height: 70%;
    width: 70%;
}
nav{    
    position: absolute;
    top: 0%;
    left: 10%;
    width: 90%;
    height: 100%;    
}
.navbarElement{    
    width: 20%;
    height: 60%;
    top: 20%;
    background: #3AAFA9;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;       
    text-align: center; 
    align-items: center;
}
.navbarElement:hover{
    width: 20%;
    height: 60%;
    top: 20%;
    background: #3AAFA9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;       
    text-align: center; 
    align-items: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);    
    cursor: pointer;
}
.navbarElementClicked{
    width: 20%;
    height: 60%;
    top: 20%;
    background: #8AA000;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);    
    border-radius: 10px;       
    text-align: center; 
    align-items: center;
}
#aboutMeButton{
    position: absolute;    
    left: 10%;
}
#portfolioButton{
    position: absolute;    
    left: 40%;
}
#contactButton{
    position: absolute;    
    left: 70%;
}
.navBarLink{     
    font-family: button-font;  
    color: #FFFFFF;
}
.navbarImageContainer{
    position: absolute;
    left: 30%;
    height: 80%;
    width: 40%;
}
.navbarImageContainer img{
    height: 80%;
    width: 70%;
}